@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --font-raleway: "Open Sans", sans-serif;
  --font-open-sans: "Raleway", sans-serif;
  --main-padding: 4rem 10rem;

  /* ### Primary */

  /* (intro and email sign up background) */
  --dark-blue-1: hsl(217, 28%, 15%);
  /* (main background) */
  --dark-blue-2: hsl(218, 28%, 13%);
  /* (footer background) */
  --dark-blue-3: hsl(216, 53%, 9%);
  /* (testimonials background) */
  --dark-blue-4: hsl(219, 30%, 18%);

  /* ### Accent */

  /* (inside call-to-action gradient) */
  --cyan: hsl(176, 68%, 64%);
  /* (inside call-to-action gradient) */
  --blue: hsl(198, 60%, 50%);
  /* (error) */
  --light-red: hsl(0, 100%, 63%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-rows:
    min-content minmax(min-content, 100vh) repeat(4, min-content)
    minmax(60vh, min-content);
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      5,
      [col-start] minmax(min-content, 30rem) [col-end]
    )
    [center-end]
    minmax(4rem, 1fr) [full-end];

  /* grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      5,
      [col-start] minmax(min-content, 30rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end]; */

  background-color: var(--dark-blue-2);
  overflow: hidden;
}

.heading-2 {
  font-size: 4rem;
  font-family: var(--font-raleway);
  color: var(--white);
  /* font-weight: 400; */

  text-align: center;
}

.heading-3 {
  font-size: 2.5rem;
  font-family: var(--font-open-sans);
  color: var(--white);
  /* font-weight: 400; */
  /* width: 35ch; */
  text-align: center;
}

.btn {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.btn-hero {
  color: var(--white);
  background-color: var(--blue);
  padding: 1.6rem 8rem;
  border-radius: 1000px;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  letter-spacing: 1.3px;
  transition: all 0.2s;
}

.btn-hero:hover {
  filter: brightness(140%);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 59%;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --main-padding: 4rem 7rem;
  }
  html {
    font-size: 54%;
  }

  .heading-2 {
    font-size: 3.5rem;
  }
}
